body {
    background-color: rgba(10, 10, 31, 0.9);
}

.span1 {
    color: white;
}

.span2 {
    color: rgb(37, 180, 99);
}

.para {
    color: rgba(128, 128, 128, 0.925);
}

button {
    background-color: rgb(37, 180, 99);
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#passwordLine {
    height: 16px;
    width: 300px;
    font-size: 16px;
    margin-top: 20px;
    color: aliceblue;
    text-align: top;
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;


    border-bottom: 2px solid gray;
}

#passwordLength {
    margin-top: 20px;
    background-color: rgba(14, 14, 69, 0.683);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;

}

.textFields>input {
    margin-top: 20px;
    margin-right: 30px;
    background-color: rgba(14, 14, 69, 0.683);
    border: none;
    padding: 8px 8px;
    border-radius: 5px;
    color: rgb(37, 180, 99);
}

.property {
    display: flex;
    margin-top: 10px;
    padding: 8px 16px;
    gap: 5px;
    color: rgb(37, 180, 99);
}